beautifulsoup4==4.13.0
deepface==0.0.93
keras==3.10.0
numpy==1.26.4
opencv-python-headless==4.11.0.86
pandas==2.2.2
pillow==10.3.0
requests==2.32.3
streamlit==1.45.1
tensorflow==2.19.0
tf_keras==2.19.0
toml==0.10.2
